{% extends "base_layout.html" %}

<h2>
  Edit Section
</h2>

{% block content %}
    <form method="post">
        {% csrf_token %}
        {% comment %} {{ form.non_field_errors }}


        {% for hidden_field in form.hidden_fields %}
          {% if hidden_field.errors %}
            <ul>
              {% for error in hidden_field.errors %}
                <li>(Hidden field {{ hidden_field.name }}) {{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
          {{ hidden_field }}
        {% endfor %}


        <div class="container-of-div">
          {% for field in form.visible_fields %}
            <div>
              <span>{{ field.label_tag }}</span>
              <div class="any-field">
                {% if field.errors %}
                  <ul>
                    {% for error in field.errors %}
                      <li class="error-massage">{{ error }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
                {{ field }}
              </div>
            </div>
          {% endfor %}
        </div> {% endcomment %}
        {% comment %} {{form}} {% endcomment %}
      {{form}}

        <button class="btn btn-secondary" type="submit">Submit</button>
    </form>

{% endblock content %}
