{% extends "base_layout.html" %}

<h2>
  Your Profile
</h2>

{% block content %}
    <div class="container">
        <p class="my-2">username: {{user}}</p>
        <p class="my-2">lastname: {{user.first_name}}</p>
        <p class="my-2">lastname: {{user.last_name}}</p>
        <p class="my-2">email: {{user.email}}</p>
        <p class="my-2">phone: {{user.userprofile.phone}}</p>
        <p class="my-2">city: {{user.userprofile.city}}</p>
        <p class="my-2">website: {{user.userprofile.website}}</p>
        <a class="btn btn-secondary" href="{% url 'accounts:edit_profile' %}">Edit</a>
    </div>

{% endblock content %}
